body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  margin: 1em;
}

.cardBody {
  width: 20em;
  height: 20em;
  position: relative;
  text-decoration: none;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.cardTitle {
  padding: 10px;
  position: absolute;
  text-decoration: none;
  bottom: 0;
  background: white;
  width: 100%;
}
