body,
html {
  margin: 0;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
}

#main-body {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#controls {
  padding: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#variables {
  padding: 50px;
}

canvas {
  border: 1px solid #d3d3d3;
}
